@font-face {
    font-family: "Slackey";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Slackey.ttf") format("truetype");
}

@font-face {
    font-family: "Geo";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Geo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cour";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/cour.ttf") format("truetype");
}

@font-face {
    font-family: "ReportType";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/1942.ttf") format("truetype");
}
