body {
    margin:0;
    overflow:hidden;
    background-color:rgb(200,200,100);
    color: rgb(10, 20, 0);

}

#game {
    margin: 5% 15%;
}

h2 {
    position: relative;
    text-align: center;
}

h4 {
    font-size: 25px;
    text-align: center;
    bottom: 0%;
    left: -12%;
    position: relative;
    margin: -35px;
    margin-bottom: 30px;
}

h6 {
    font-size: 12px;
    margin: 5px auto;
    text-align: center;
}

#game{
    font-size: 40px;
    position:absolute;
    left:0;
    top:0;
    width:20em;
    height:15em;
    background-color:rgb(200,200,100);
    font-family: cour;
    color: rgb(10, 20, 0);
    background:linear-gradient(to right, black,#b1b177,#b1b177,#b1b177,#b1b177, 			
	#b1b177, #b1b177, #b1b177, #b1b177, #b1b177, #b1b177, #b1b177, #b1b177,#b1b177);
}

#game .screen{
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}

#game .screen.active{
    display: block;
}

#game p {
    font-size: 50px;
    margin: 0.3em;
    text-align: center;
}

.screen {
    display:none;
}

#game input {
    padding-left: 1em;
}

#splash-screen {
    text-align:center;
    top: 25%;
    display: none;
    line-height: 0.2em;
}

#splash-screen h1 {
    font-size: 1.6em;
    padding-bottom: 5%;
}

#splash-screen .continue{
    cursor: pointer;
    font-size:0.75em;
    display: none;
    padding-top: 5%;
}

#canvas{
    display:none;
}

#talents-screen {
    display: none;
    margin: 11%;
}

#talents-screen ul {
    margin: auto;
}

.talents {
    display: none;
}

.talents.active {
    display:block;
}

#talents-screen #resetTalents {
    position: absolute;
    bottom: 10em;
    right: 7.5em;
    font-size: .375em;
}

#options-menu div{
    margin:1em 2em;
}

#options-form{
    padding:5% 10%;
}

#options-form [type=range]{
    width:80%;
}

#resetButton{
    position:absolute;
    bottom:3em;
    right:1em;
}

#talents-screen div button:nth-last-of-type(2) {
    position: absolute;
    top: .5em;
    left: -1.5em;
    font-size: .375em;
    margin: -10% auto;
}

#talents-screen div button:last-of-type {
    position: absolute;
    top: 0.5em;
    right: 7.5em;
    font-size: .375em;
    margin: -10% auto;
}

#about-screen {
    display: none;
}

button[name='main-menu'] {
    position: absolute;
    bottom : 1em;
    right: 1em;
}

.logo{
    font-family:ReportType ;
    font-size:1.6em;
    line-height: .9em;
    margin:0;
    text-align:center;
    color:rgb(10, 10, 0);
    /*text-shadow:0.03em 0.03em 0.06em #b1b177,
        -0.03em -0.03em 0.06em rgba(10, 20, 0, 0.47),
        0.1em 0.15em 0.15em rgba(10, 20, 0, 0.34);*/
}

#main-menu{
    padding-top: 2.5em;
    display: none;
}

ul.menu {
    text-align: center;
    padding: 10px;
    margin: 0;
    list-style:none;
}

ul.menu li{
    margin: 0.4em 0;
}

button{
    font-family: Cour;
    font-size: 0.5em;
    color: rgb(30,40,0);
    background-color: rgba(195, 195, 174, 0.71);
    border:0.1em solid rgba(68, 68, 68, 0.56);
    -webkit-box-shadow: 0.2em 0.2em 0.3em rgba(10, 20, 0, 0.64);
    -moz-box-shadow: 0.2em 0.2em 0.3em rgba(10, 20, 0, 0.64);
    box-shadow: 0.2em 0.2em 0.3em rgba(10, 20, 0, 0.64);
}

button:hover {
    background: rgb(200,200,100);
}

button:active {
    color: #fff;
    background: rgb(10, 20, 0);
}
ul.menu li button{
    width: 12em;
    height: 1.8em;
    margin-top: 15px;
}

.progress {
    width: 10em;
    height: 0.5em;
    margin: 0 auto;
    border-radius: 0.5em;
    border: 1px solid rgb(200,200,100);
    overflow:hidden;
}

.progress .indicator{
    background-color: rgb(200,200,100);
    height: 100%;
    width:0%;
}

#canvas canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.stageSelector{
    width:400px;
    height:75px;
    margin:20px 40px;
    background-color: red;
}

.stageSelector p{
    float:right;
    padding:auto;
}

.talents ul li  {
    color: #000000;
    display: block;
    position: relative;
    float: left;
    width: 30%;
    height: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #111111;
}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul li label{
    display: block;
    position: relative;
    font-size: 0.4em;
    padding: 15px 15px 15px 75px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    color: #FFFFFF;
}

ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 0.25em;
    width: 0.25em;
    top: 20px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid #FFFFFF;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 0.125em;
    width: 0.125em;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
    background: #0DFF92;
}

input[type=radio]:checked ~ label{
    color: #0DFF92;
}

#game-screen img{
    width: 11.2em; 
    height: 2.2em; 
    margin: .3em auto;
    display:block;
}

#game-screen{
    position: relative;
    margin: auto;
}

#game .screen#about-screen{
    padding: 0% 10%;
    height:86%;
    width:auto;
}

h3 {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: -12%;
    left: -12%;
    margin: 0px;
    margin-top: 10px;
}

#high-scores h3 {
    top: 0%;
    left: 0%;
}

#team{
    padding:15px;
}

#about-screen h5 {
    line-height: 1.5em;
    font-size: 22px;
    text-align: center;
    padding-left: 5px;
    margin: 0;
}

#about-screen p {
    font-size: 20px;
    padding-left: 20px;
    margin: 5px;
}

table {
    position: relative;
    float: inherit;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: 35px auto;
    background-color: tan;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1px;
}

th {
    font-size: 18px;
}

td {
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#high-scores #stages {
    margin: 0px 2px auto;
    width: 90%;
    height: 10%;
    font-size: 1em;
    align-content: center;
    margin-top: 5px;
}

#high-scores #stages button {
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 18%;
    margin-top: 14px;
}

#high-scores #time-period {
    position: relative;
    width: 80%;
    height: 5%;
    padding: 0 10%;
}
#time-period button{
    margin: auto;
}

#back {
    position: absolute;
    bottom: 5em;
    right: 5.6em;
}

hr {
    -webkit-margin-before: 0.05em;
    -webkit-margin-after: 0.05em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.justified-adjustment { text-align: justify; }

.justified-adjustment button {
    display: inline-block;
    vertical-align: middle;
}

.justified-adjustment::after {
    content: "";
    width: 100%;
    display: inline-block;
}

#line-break {
    line-height: 5px;
}

.tooltip {
    padding-left: 22%;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

#game-screen .tooltip .tooltiptext {
    width: 50%;
    top: 80%;
    left: 33%;
    margin-left: -60px;
}

#talents-screen .tooltip .tooltiptext {
    width: 100%;
    top: 55%;
    left: 26%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    font-size: 11px;
    visibility: visible;
}

#game-screen button[name = 'main-menu'] {
    position: relative;
    clear: right;
    bottom: -5.5em;
    left: 10%;
}

#talents-screen ul li:nth-child(odd) {
    clear: left;
}

#talents-screen .tooltip {
    padding-left: 0%;
}

#pause-menu {
    background: rgba(0,0,0,.6);
}

#pause-button {
    z-index: 10;
    bottom: -26em;
    position: relative;
    left: 1em;
}

#options-menu h3 {
    left: 0%;
}

#about-screen h4 {
    left: 0%;
}